$color:#ffffff;
* {
    margin: 0;
    padding: 0;
}
.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
    height: 77px;
    &_description {
    background-image: url(picturestravel/photo.png);
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} &_catalog {
    display: flex;
    gap: 32px;
}
&_links {
    font-size: 16px;
    text-decoration: none;
    color: $color;
    font-family: Montserrat;
}
&_search::placeholder {
    color: $color;
}  
&_search {
    border: 2px solid $color;
    background-color: transparent;
    border-radius: 20px;
    padding: 12px;
    outline: none;
    font-family: Montserrat;
}
&_text {
    font-size: 36px;
    color: $color;
    display: flex; 
}
&_main {
    margin-top: 140px;
    color: $color;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 70px;
}
}
.order {
    width: 787px;
    
    &_text {
        display: flex;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        margin-top: 64px;
        justify-content: space-between;
    } &_card {
        display: flex;
        margin-top: 14px;
        border-top: 0.5px solid #CACDD8;
        padding: 14px;
    }
    &_pic {
        width: 173px;
    }&_all {
        display: flex;
        flex-direction: column;
        margin-left: 32px;
        
    } &_maintext {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        margin-bottom: 14px;
    } &_description {
        font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
color: #888888;
    } &_price {
        font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
margin-top: 16px;
    } &_number {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 71px;
        height: 51px;
        background: #F7F6F6;
        border-radius: 6px;
        border: 0px;
        
        
    }
}