* {
  margin: 0;
  padding: 0;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
  height: 77px;
}
.header_image {
  background-image: url(picturestravel/header.png);
  height: 735px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header_links {
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  font-family: Montserrat;
}
.header_search::-moz-placeholder {
  color: #ffffff;
}
.header_search::placeholder {
  color: #ffffff;
}
.header_search {
  border: 2px solid #ffffff;
  background-color: transparent;
  border-radius: 20px;
  padding: 12px;
  outline: none;
  font-family: Montserrat;
}
.header_main {
  margin-top: 204px;
  color: #ffffff;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
}

.all {
  margin-top: 64px;
}
.all_text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.catalog_link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #486A93;
  margin-top: 40px;
  margin-bottom: 80px;
}

.footer {
  display: flex;
  gap: 130px;
  background-color: #F7F6F6;
  height: 208px;
  padding-top: 34px;
}
.footer_travel {
  height: 44px;
  display: flex;
}
.footer_menu {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #486A93;
}
.footer_nav_links {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 12px;
}
.footer_link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  text-decoration: none;
}
.footer_contact {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #486A93;
  margin-bottom: 12px;
}
.footer_number {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin-bottom: 12px;
}
.footer_email {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin-bottom: 12px;
}
.footer_app {
  display: flex;
  gap: 22px;
}
.footer_form {
  display: flex;
  flex-direction: column;
}
.footer_news {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.footer_send {
  width: 275px;
  height: 46px;
  background: #ffffff;
  border: 1px solid #C4C4C4;
  border-radius: 20px;
  margin-top: 16px;
  padding-left: 15px;
}
.footer_button {
  background: #486A93;
  border: 1px solid #ffffff;
  border-radius: 20px;
  width: 275px;
  height: 46px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  margin-top: 12px;
}/*# sourceMappingURL=catalog.css.map */